@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.main-names {
  font-family: "Great Vibes", cursive;
  font-size: 0rem;
    color: #fff;
    padding: 0rem;
    opacity: 0;
    transition: font-size 2.5s cubic-bezier(0.4, 0, 0.2, 1), 
              padding 2.5s cubic-bezier(0.4, 0, 0.2, 1), 
              opacity 1.5s ease;
}

.main-names.fade-in {
  opacity: 1;
  font-size: 5rem;
  padding: 2rem;
}
.date-info{
    font-family: monospace;
    font-weight: 600;
    font-size: 3em;
    letter-spacing: 10px;
    color: #fff;
}

.save-date-container{
  position: relative;
}

.rose-icon {
    font-size: 2rem;
    color: #fff;
    position: relative;
    display: inline-block;
    height: 200px
}

body {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.subheading{
    background: #fff;
    position: absolute;
    margin-top: 0.5rem;
    top: 50vh;
    left: 15vw;
    right: 15vw;
    height: 2px;
    transition: transform 3s cubic-bezier(0.4, 0, 0.2, 1), 
                top 3s cubic-bezier(0.4, 0, 0.2, 1);
}

.subheading.up {
  transform: translateY(-20px);
}

.subheading.down {
  transform: translateY(30px);
  top: 57vh;
  transition: transform 3s cubic-bezier(0.4, 0, 0.2, 1), 
                top 3s cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width: 768px) {
  .main-names.fade-in {
    font-size: 3rem;
    padding: 1rem;
  }
  .date-info {
    font-weight: 200;
    font-size: 1.5em;
  }
  .subheading {
    right: 10px;
    left: 10px;
  }
}
